# User-specific stuff:
.idea

assets
manual

.gradle/
build/
common/build
dbtool/build
essync/build
iam/build
icommerce/build
outbox/build
sharedkernel/build
it/build
.env
.env.example

.dockerignore
Dockerfile
Dockerfile.prod
docker-compose.yml
docker-compose-service.yml
docker-compose-service-mac.yml

README.md